html {
  background-color: #86C0F2;
}

body {
  margin-left:10%;
  margin-right:10%;
  margin-bottom:0%;
  margin-top:0%;
  background-color: #FDB279;
  border-radius: 25px;
}

.logo {
  display: block;
  margin-left: 30px;
  margin-right: auto;
  margin-bottom: 14px;
}


.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.title {
  text-align: center;
  color: #515151;
  font-family: OCR A Std,"Courier", "Courier New", "Lucida Console", monospace;
  margin-left:12%;
  margin-right:12%;
  font-size: 42px
}

.cursive {
  text-align: center;
  color: #515151;
  font-family: OCR A Std,"Courier", "Courier New", "Lucida Console", monospace;
  margin-left:12%;
  margin-right:12%;
  font-size:15px;
}

.rhyme-container {
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 600px;
  max-width: 85%;

}

.textbar {
  width: 600px;
  max-width: 100%;
  font-size:20px;
  color: #515151;
  font-weight: bold;
  background-color: whitesmoke;
  border: #515151 2px solid;
  border-radius: 5px;
  font-family: OCR A Std,"Courier", "Courier New", "Lucida Console", monospace;
}

.format {
  display: block;
  margin-right: auto;
  margin-left: auto;
  max-width: 85%;
}

.btn {
  display: block;
  padding: 5px 20px;
  font-weight: bold;
  margin-right: auto;
  margin-left: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size:20px;
  background-color: whitesmoke;
  color: #515151;
  border-radius: 25px;
  border: #515151 2px solid;
  font-family: OCR A Std,"Courier", "Courier New", "Lucida Console", monospace;
}

.btn:hover {
  transition: all 0.5s ease-in-out;
  background-color: #86C0F2;
  transform: scale(1.04);
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.hide {
    display: none;
}
